body {
  background-color: #0f111a;
  color: #798baf;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: #0f111a;
  color: #798baf;
  padding: 5%;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.homepage {
  border-radius: 3%;
  position: relative;
  background-color: #1d212f;
  text-align: center;
  padding: 5%;
  width: 1200px;
  max-height: 600px;
}

.loading {
  margin-top: 5%;
  cursor: wait;
}

.logo-big {
  width: 30%;
}

.logo-small {
  width: 50px;
  animation: App-logo-spin infinite 20s linear;
  margin-bottom: 1%;
}

.settings {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 500px;
}

.form {
  width: 100%;
}

.input {
  background-color: #1d212f;
  color: #fff;
  border: 1px solid;
  border-color: #798baf;
  border-radius: 5px;
  width: 100%;
  padding: 3px;
}

.file > input {
  background-color: #1d212f;
  color: #fff;
  border: 1px solid;
  border-color: #798baf;
  border-radius: 5px;
  width: 100%;
  padding: 3px;
}

.btn-next {
  min-width: 10%;
  right: 1rem;
  position: absolute;
  bottom: 1rem;
  background-color: #798baf;
  color: #1d212f;
  font-weight: bold;
  border: none;
  padding: 1%;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.btn-prev {
  min-width: 10%;
  left: 1rem;
  position: absolute;
  bottom: 1rem;
  background-color: #798baf;
  color: #1d212f;
  font-weight: bold;
  border: none;
  padding: 1%;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.m-5 {
  margin: 5%;
}

label {
  text-align: left;
}

.w-100 {
  width: 100%;
}

.error {
  color: #c22626;
}

.loading-zone {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-dot {
  border-radius: 100%;
  margin: calc(5px * 2);
}

.loading-dot:nth-child(1) {
  border: 5px solid #00cbec;
  animation: preloader 0.5s ease-in-out alternate infinite;
}
.loading-dot:nth-child(2) {
  border: 5px solid #a112ff;
  animation: preloader 0.5s ease-in-out alternate 0.2s infinite;
}

.loading-dot:nth-child(3) {
  border: 5px solid #ff5543;
  animation: preloader 0.5s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
